<div class="container">
	<div class="card" id="table-card">
		<table class="table">
			<thead>
			    <tr>
			      <th scope="col">Applicant Name</th>
			      <th scope="col">Applicant SSN</th>
			      <th scope="col">Property Address</th>
			      <th scope="col">Landlord Name</th>
			    </tr>
			</thead>
			<tbody>
				<% @records.each do |record| %>
					<tr>
						<td><%= record.applicant_name %></td>
						<td><%= record.applicant_ssn %></td>
						<td><%= record.property_address %></td>
						<td><%= record.landlord_name %></td>
					</tr>	
				<% end %>
			</tbody>
		</table>
	</div>
</div>
